<h1>{{user.name}} 的預約紀錄</h1>
<br />
<br />
<table class="table align-middle">
  <thead class="thead-dark">
    <tr>
      <th scope="col">餐廳名稱</th>
      <th scope="col">預約日期</th>
      <th scope="col">人數</th>
      <th scope="col">取消預約</th>
    </tr>
  </thead>
  <tbody>
    {{#each user.Reservations}}
    <tr>
      <td>{{this.Restaurant.name}}</td>
      <td>{{dayjs this.time}}</td>
      <td>{{this.people}}</td>
      <td>
        <form action="/reservations/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link link-danger">刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<div class="card w-100">
  <div class="card-header">
    收藏餐廳
  </div>
  <div class="card-body">

  </div>
</div>